.tag {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;

    .tagHeader {
        background: #f5f5f5;
        padding: 10px 25px;
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        color: #FE642E;

        i {
            font-size: 1.8em;
            vertical-align: sub;
            margin-right: 5px;
            font-weight: bold;
        }
        
        .title {
            font-weight: 600;
            margin: 0 22px 0 0;
            padding: 0;
            color: black;
        }

        .save {
            float: left;
        }

        .edit {
            float: right;
        }

        a {
            color: #FE642E;
        }
    }

    .tagBody {
        padding: 15px 0px 150px 25px;

        ul {
            list-style-type : none;
            padding: 0px;
            margin-bottom: 0px;

            li {
                border-bottom: 1px solid #eeeeee;
                padding: 10px 10px 10px 5px;

                i.fa-plus-circle {
                    font-size: 1.6em;
                    padding-right: 10px;
                    color: #6cd800;
                    vertical-align: middle;
                }

                i.fa-minus-circle {
                    font-size: 1.6em;
                    padding-right: 10px;
                    color: rgb(216, 0, 0);
                    vertical-align: middle;
                }

                i.fa-edit {
                    float: right;
                    color: gray;
                    font-size: 1.6em;
                }
            }

            a {
                color: black;
                text-decoration: none;
            }

            .fa-slack {
                color: #FE642E;
            }
        }

        input {
            width: 60%;
        }

        .addClass {
            float: right;
            width: 20%;
            margin: 0;
            height: 30px;
            font-size: 0.8em;
            background: #6cd800;
        }
    }
}