.tag {
    width: 100%;
    display: inline-block;
    margin: 0;
    height: 100vh;

    .tagHeader {
        background: #f5f5f5;
        padding: 10px 25px;
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        color: #FE642E;
        
        .title {
            font-weight: 600;
            margin: 0 0 0 24px;
            padding: 0;
            color: black;
        }

        .save {
            float: right;
        }

        a {
            color: #FE642E;
        }
    }

    .tagBody {
        padding: 15px 25px 5px 25px;

        ul {
            list-style-type : none;
            padding: 0px;
            margin-bottom: 0px;

            li {
                border-bottom: 1px solid #eeeeee;
                padding: 10px 0 10px 5px;

                i.fa-plus-circle {
                    font-size: 1.6em;
                    padding-right: 10px;
                    color: #6cd800;
                    vertical-align: middle;
                }

                i.fa-minus-circle {
                    font-size: 1.6em;
                    padding-right: 10px;
                    color: rgb(216, 0, 0);
                    vertical-align: middle;
                }
            }

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}