.list {
    display: inline-block;
    margin: 0;
    // height: 100vh;
    width: 100%;
    
    .listHeader {
        width: 100%;
        padding: 15px 25px 5px 25px;
        
        .headerTop {
            .tagSpan {
                color: #FE642E;
                font-size: 1.1em;
                height: 51px;
                line-height: 43px;

                a {
                    color: #FE642E;
                }
            }
            
            .rightIcon {
                color: #FE642E;
                font-size: 1.1em;
                float: right;
    
                i {
                    color: #FE642E;
                    margin-left: 10px;
                }

                .dropdown {
                    width: 20px;
                    z-index: 999;
                    background: none;

                    a {
                        color: black;
                    }
                }

                .btn-group > .btn:first-child {
                    background: none;
                    border: none;
                    color: orangered;
                    margin: 0;
                    padding: 0;
                    height: 10px;
                }

                .btn-group > .btn:first-child:hover {
                    border: none;
                    box-shadow: none;
                }
            }
        }
        
        h2 {
            margin: 0;
            font-weight: bold;

            i {
                font-size: 1.1em;
            }
        }

        .search {
            width: 100%;
            background: #eeeeee;
            height: 40px;
            border-radius: 8px;
            margin: 15px 0 10px 0;
            padding: 0 10px;
        }
        
        input {
            width: calc(100% - 30px);
            background: #eeeeee;
            border: none;
            height: 38px;
            vertical-align: middle;
            font-size: 1em;
            margin-top: -1px;
            padding-left: 5px;
        }

        input:focus{
            outline: none;
        }

        i {
            color: gray;
            height: 40px;
            margin-top: 11px;
            padding-left: 3px;
        }
    }

    .listBody {
        .listTitle {
            border-top: 1px solid rgb(204, 204, 204);
            padding: 5px 25px 5px 30px;
            background: #f5f5f5;
            font-size: 0.9em;
            color: rgb(73, 73, 73);
        }

        ul {
            list-style-type : none;
            padding: 0 25px;
            margin-bottom: 0px;

            li {
                border-bottom: 1px solid #eeeeee;
                padding: 10px 0 10px 5px;
            }

            a {
                color: black;
                text-decoration: none;
            }
        }

        ul.favorites {
            i {
                // font-size: 0.9em;
                float: right;
                color: #FE642E;
                margin-right: 5px;
                line-height: 25px;
            }
        }

        ul.general {
            margin-bottom: 150px;

            i {
                // font-size: 0.9em;
                float: right;
                color: #FE642E;
                margin-right: 5px;
            }
        }
    }
}