.list {
    display: inline-block;
    margin: 0;
    // height: 100vh;
    width: 100%;
    
    .listHeader {
        width: 100%;
        padding: 15px 25px 5px 25px;
        background: #f5f5f5;
        border-bottom: 1px solid #e9e9e9;
        
        .headerTop {
            .tagSpan {
                color: #FE642E;
                font-size: 1em;
                height: 51px;
                line-height: 43px;
                margin-right: 10px;
                font-weight: 500;

                a {
                    color: #FE642E;
                }
            }

            .rightIcon {
                color: #FE642E;
                font-size: 1.1em;
                float: right;
    
                i {
                    color: #FE642E;
                    margin-left: 10px;
                }

                .dropdown {
                    width: 20px;
                    // z-index: 998;
                    background: none;

                    a {
                        color: black;
                    }
                }

                .btn-group > .btn:first-child {
                    background: none;
                    border: none;
                    color: orangered;
                    margin: 0;
                    padding: 0;
                    // height: 10px;
                    margin-top: -5px;
                }

                .btn-group > .btn:first-child:hover {
                    border: none;
                    box-shadow: none;
                }
            }
        }
        
        h2 {
            margin: 0;
            font-weight: bold;

            i {
                font-size: 1.1em;
            }
        }

        .search {
            width: 100%;
            background: #e9e9e9;
            height: 40px;
            border-radius: 8px;
            margin: 15px 0 10px 0;
            padding: 0 10px;
        }
        
        input {
            width: calc(100% - 30px);
            background: #e9e9e9;
            border: none;
            height: 38px;
            vertical-align: middle;
            font-size: 1em;
            margin-top: -1px;
            padding-left: 5px;
        }

        input:focus{
            outline: none;
        }

        i {
            color: gray;
            height: 40px;
            margin-top: 11px;
            padding-left: 3px;
        }
    }

    .listBody {
        margin-bottom: 150px;
        overflow: auto;

        .listTitle {
            border-top: 1px solid rgb(204, 204, 204);
            padding: 5px 25px 5px 30px;
            background: #f5f5f5;
            font-size: 0.9em;
            color: rgb(73, 73, 73);
        }

        ul {
            list-style-type : none;
            padding: 0 25px;
            margin-bottom: 0px;

            li {
                border-bottom: 1px solid #eeeeee;
                padding: 10px 0 10px 5px;
            }

            a {
                color: black;
                text-decoration: none;
            }
        }

        ul.favorites {
            i {
                // font-size: 0.9em;
                float: right;
                color: #FE642E;
                margin-right: 5px;
                line-height: 25px;
            }
        }

        ul.general {
            margin-bottom: 150px;

            i {
                // font-size: 0.9em;
                float: right;
                color: #FE642E;
                margin-right: 5px;
            }
        }

        ul.myContact {
            border-bottom: 1px solid #e9e9e9;
            // padding-top: 10px;
            // padding-bottom: 10px;

            li {
                border-bottom: none;

                h5 {
                    margin: 0;
                    display: inline-block;
                    vertical-align: top;
                    line-height: 50px;
                }

                .fa-user-circle {
                    font-size: 50px;
                    margin-right: 15px;
                    color: lightgray;
                }
            }
        }
    }
}

.noDisplay {
    display: none;
}