.tagContact {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 999;

    .tagContactHeader {
        background: #f5f5f5;
        padding: 10px 25px;
        text-align: center;
        font-size: 1em;
        font-weight: 500;

        i {
            font-size: 1.8em;
            vertical-align: sub;
            margin-right: 5px;
            font-weight: bold;
        }
        
        .title {
            padding: 0;
            margin: 0 12px 0 0;
            font-weight: 600;
        }

        .back {
            color: #FE642E;
            float: left;
        }

        .edit {
            float: right;
            color: #FE642E;
        }

        a {
            color: #FE642E;
        }
    }

    .tagContactBody {
        padding: 15px 25px 5px 25px;

        .search {
            width: 100%;
            background: #f5f5f5;
            height: 40px;
            border-radius: 8px;
            margin: 15px 0 10px 0;
            padding: 0 10px;
            
            input {
                width: calc(100% - 30px);
                background: #f5f5f5;
                border: none;
                height: 38px;
                vertical-align: middle;
                font-size: 1em;
                margin-top: -1px;
                padding-left: 5px;
            }
        
            input:focus{
                outline: none;
            }
        
            i {
                color: gray;
                height: 40px;
                margin-top: 11px;
                padding-left: 3px;
            }
        }

        .listBody {
            .listTitle {
                border-top: 1px solid rgb(204, 204, 204);
                // padding: 5px 25px 5px 30px;
                background: #f5f5f5;
                font-size: 0.9em;
                color: rgb(73, 73, 73);
            }
    
            ul {
                list-style-type : none;
                padding: 0px;
                margin-bottom: 0px;
    
                li {
                    border-bottom: 1px solid #eeeeee;
                    padding: 10px 0 10px 5px;

                    i.fa-minus-circle {
                        font-size: 1.6em;
                        padding-right: 10px;
                        color: rgb(216, 0, 0);
                        vertical-align: middle;
                    }
                }
    
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    
}