.create {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    background: white;

    .createHeader {
        z-index: 998;
        width: 100%;
        padding: 15px 25px 10px 25px;
        color: #FE642E;
        font-size: 1em;
        position: fixed;
        text-align: center;
        height: 60px;
        vertical-align: middle;
        line-height: 40px;
        background: white;

        .back {
            float: left;

            a {
                color: #FE642E;
                text-decoration: none;
            }
        }

        .title {
            color: black;
            font-weight: 500;
        }

        .edit {
            float: right;

            a {
                color: #FE642E;
                text-decoration: none;
            }
        }
    }

    .createBody {
        margin-top: 60px;
        padding: 10px 25px 200px 25px;

        .addPhoto {
            float: left;
            width: 50px;
            text-align: center;

            i {
                font-size: 50px;
                color: lightgray;
                position: absolute;
                margin-left: -25px;
            }

            i.fa-minus-circle {
                font-size: 1.4em;
                padding-right: 14px;
                color: #d80000;
                height: 40px;
                z-index: 991;
                margin-left: 13px;
                margin-top: -13px;
                line-height: 40px;
            }

            button {
                font-size: 0.8em;
                position: absolute;
                text-align: left;
                margin-left: -18px;
                margin-top: 0px;
                color: #FE642E;
                background: none;
                border: none;
                width: 50px;
                height: 50px;
            }

            input {             /*input tag 공통 스타일*/
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-weight: 600;
                border-color: transparent;
                background: lightgray;
                color: #fff;
                cursor: pointer;
                font-size: 0.8em;
                position: absolute;
                margin-left: -25px;
            }

            input.upload {  
                opacity: 0;       /*input type="file" tag 투명하게 처리*/
                position: relative;
            }

            button.replace {    /*button tag 에 원하는 스타일 적용*/
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-weight: 600;
                border-color: transparent;
                font-size: 0.8em;
                background: none;
                color: #FE642E;
                cursor: pointer;
                position: absolute;
                margin-left: -25px;
                line-height: 15px;
                cursor: pointer;

                span {
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                }
            }

            .thumb {
                margin-left: -25px;
                position: absolute;
                display: block;
                overflow: hidden;
                height: 50px;
                width: 50px;
                text-align: center;
                display: inline-block;
                border-radius: 50%;
                cursor: pointer;
            }

            .important {
                z-index: 990;
            }

            .FILE_FORM {
                z-index: 990;
            }
            
            .thumb img {
                display: block;
                width: 100%;
                -ms-interpolation-mode: bicubic;
            }
        }

        .addName {
            float: right;
            text-align: left;
            width: calc(100% - 70px);
            margin-top: 7px;

            input {
                height: 40px;
                padding-left: 10px;
                width: calc(100% - 25px);
                border: none;
                border-bottom: 1px solid lightgray;
            }

            

            .star {
                width: 20px;
                display: inline-block;
                text-align: center;
                color: #FE642E;
            }
        }

        .addDetail {
            margin-top: 70px;

            .addDetailList {
                font-size: 0.9em;
                border-bottom: 1px solid lightgray;
                height: 40px;
                line-height: 40px;

                i.fa-plus-circle {
                    font-size: 1.6em;
                    padding-right: 10px;
                    color: rgb(108, 216, 0);
                    height: 40px;
                    line-height: 40px;
                }

                i.fa-minus-circle {
                    font-size: 1.6em;
                    padding-right: 14px;
                    color: rgb(216, 0, 0);
                    height: 40px;
                    line-height: 40px;
                }

                span {
                    vertical-align: top;
                }
            }

            .addTitle {
                margin-bottom: 30px;
            }

            .add {
                span {
                    color: #FE642E;
                    padding-right: 10px;
                }

                .leftSection {
                    width: 130px;
                    display: inline-flex;

                    .sort {
                        width: 80%;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0;
                    }
                }
                .date {
                    width: 110px;
                }

                input {
                    border: none;
                    width: calc(100% - 140px);
                    vertical-align: top;
                    height: 40px;
                    line-height: 40px;
                    height: 39px;
                    line-height: 39px;
                    padding-left: 10px;
                    border-left: 1px solid lightgray;
                }

                .rightIcon {
                    color: #FE642E;
                    font-size: 1.1em;
                    vertical-align: top;
                    padding-right: 0;

                    .dropdown {
                        width: 20px;
                        // z-index: 100;
                        background: none;
                        vertical-align: sub;
    
                        a {
                            color: black;
                        }

                        .editCategory {
                            color: #FE642E;
                        }
                    }
    
                    .btn-group > .btn:first-child {
                        background: none;
                        border: none;
                        color: #FE642E;
                        margin: 0;
                        padding: 0;
                        // height: 10px;
                        margin-top: -5px;
                    }
    
                    .btn-group > .btn:first-child:hover {
                        border: none;
                        box-shadow: none;
                    }

                    .dropdown-item {
                        padding: 0 1.5em;
                        font-size: 0.9em;
                    }

                    
                }
            }

            .contactDelete {
                margin-top: 50px;
                margin-bottom: 200px;
                color: #FE642E;
                // border-bottom: 1px solid lightgray;
            }

            .addTagButton {
                display: inline-block;
                font-size: 0.9em;
                background: white;
                color: rgb(108, 216, 0);
                border: 2px solid rgb(108, 216, 0);
                width: 80px;
                height: 100%;
                margin: 10px 0 20px 0;
                font-weight: bold;
            }

            .addTagButton:hover {
                color: white;
                background: rgb(108, 216, 0);
            }

            .tagSpan {
                color: white;
                background: #771c1c;
                padding: 2px 10px;
                font-size: 0.8em;
                border-radius: 10px;
                display: inline-block;
                margin: 5px 5px 0 0;
            }
        }

        .memo {
            font-size: 0.9em;
        }

        textarea {
            border: 1px solid lightgray;
            width: 100%;
            font-size: 0.9em;
            resize: none;
            margin-top: 10px;
            padding: 10px;
        }
    }

    .dropdown-menu.dropdown-menu-right.show {
        box-shadow: 1px 1px 1px lightgray;
    }
}

textarea:focus, input:focus, button:focus {
    outline: none;
}
