.login {
    background: #ffffff;
    width: 100%;
    margin: 0;
    height: calc(100vh - 100px);
    vertical-align: middle;
    display: table;
}

.loginWrapper {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    img {
        width: 20%;
        margin-top: -50px;
        max-width: 120px;
        min-width: 90px;
    }

    span#id_of_element_to_blink {
        display: block;
        margin-top: 10px;
        margin-bottom: 50px;
        color: black;
        font-weight: bold;
        font-size: 1.2em;
    }
    
    button.facebook {
        font-size: 1em;
        width: 300px;
        background: #3b5998;
        color: white;
        border-radius: 10px;
        height: 50px;
        border: none;
        margin-top: 10px;
        line-height: 50px;

        i.fa.fa-facebook-square {
            float: left;
            vertical-align: middle;
            line-height: 50px;
            margin-left: 20px;
            font-size: 1.4em;
        }

        span {
            margin-left: -25px;
        }
    }
    
    button.google {
        font-size: 1em;
        width: 300px;
        background: #3b5998;
        color: white;
        border-radius: 10px;
        height: 50px;
        border: none;
        margin-top: 10px;
        margin-top: 0;
        background: rgb(234, 067, 053);
        line-height: 50px;
        
        i.fa.fa-google {
            float: left;
            vertical-align: middle;
            line-height: 50px;
            margin-left: 20px;
            font-size: 1.4em;
        }

        span {
            margin-left: -30px;
        }
    }

}
