.confirmModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: table;
    transition: opacity .3s ease;
    z-index: 999;
    color: white;
    display: table;

    // 팝업창
    .popUpGridWrapepr {
        width: 346px;
        height: 209px;
        border-radius: 10px;
        background: #ffffff;
        display: grid;
        display: -ms-grid;
        grid-template-areas: "title"
                             "buttons";
        grid-template-rows: 147px 62px;
        -ms-grid-rows: 147px 62px;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        .title {
            font-family: 'Noto Sans KR', sans-serif;
            grid-area: title;
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding-top: 15px;
            margin: auto;
            width: 346px;
            display: flex;
            flex-direction: column;
            align-items: center; 
            justify-content: center;

            span {
                // text-align: center;
                font-size: 16px;
                width: 346px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #4a4c58;
            }
        }

        .buttons {
            text-align: center;
            grid-area: buttons;
            -ms-grid-row: 2;
            -ms-grid-column: 1;

            .btn {
                height: 42px;
                border-radius: 5px;
                color: #ffffff;
            }
        
            .btn-primary {
                width: 130px;
                background-color: #2f6ea5;
                margin-right: 10px;
                border: none;
            }
        
            .btn-primary:hover {
                background-color: #0069d9;
                border: none;
            }
        
            .btn-secondary {
                width: 69px;
                background-color: #6d757d;
            }
        
            .btn-secondary:hover {
                color: #ffffff;
                background-color: #5b6269;
            }
        
            .btn-danger {
                background: #db3545;
                width: 130px;
            }
        
            .btn-danger:hover {
                background: #c72233;
            }
    
            .btn {
                margin: 0 10px;
            }
            .btn-secondary {
                width: 130px;
            }
        }
    }
}